<div>

    <div class="input-group input-group-lg">
        <input class="form-control" type="text" name="query" placeholder="search catalogs...." autocomplete="off"
               ng-model="vm.query" ng-model-options="{ debounce: 200 }"
               ng-change="vm.search(vm.query)" >
        <span class="input-group-addon"><span class="fa fa-search"></span> </span>
    </div>
    <div class="list-group" class="dropdown" ng-show="vm.catalogs">
        <a ui-sref="viewCatalog({id:catalog.id})" class="list-group-item" ng-repeat="catalog in vm.catalogs">
            <h4 class="list-group-item-heading">{{catalog.name}}</h4>
            <p class="list-group-item-text">{{catalog.description}} <span class="star-rating pull-right" star-rating rating-value="catalog.stars" max="5"></span></p>
        </a>
    </div>
</div>