.catalogs-sidebar {
    list-style-type: none;
    padding-top: 30px;
    
}

.catalogs-sidebar ul {
    display: inline;
    list-style-type: none;
    padding-left: 0;
}

.catalogs-sidebar li {
    line-height: 3em;
    cursor: pointer;
    padding-left: 10px;
}