<div class="container">
    <h1 class="page-header">XSD Catalog</h1>
	<div class="row">
		<div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
	                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">XSD Catalog</h4>
	                </div>
                    <div class="pull-right">
                        <input ng-model="vm.searchCriteria.query" ng-model-options="{ getterSetter: true }" ng-keyup="vm.search()" placeholder="search..." class="form-control">
                    </div>
                    <div class="pull-right" style="margin-right: 4px">
                        <button ng-if="vm.userLogged && !vm.mine" class="btn btn-default" ng-click="vm.showMine()" title="show only mine"><i class="fa fa-street-view"></i> Mine</button>
                        <button ng-if="vm.userLogged && vm.mine" class="btn btn-default" ng-click="vm.showAll()" title="show all"><i class="fa fa-users"></i> All</button>
                        <button class="btn btn-default" ng-click="vm.search()" title="refresh catalog list"><i class="fa fa-refresh"></i> Refresh</button>
                        <button ng-if="vm.userLogged" class="btn btn-default" ng-click="vm.showModal()" title="upload new catalog"><i class="fa fa-upload"></i> Upload</button>
                    </div>
                </div>
                <div class="panel-body">

                    <table ng-table="vm.tableParams" class="table">
                        <tr ng-repeat="row in $data track by row.id">
                            <td data-title="'Name'"><a ui-sref="viewCatalog({id:row.id})">{{row.name}}</a></td>
                            <td data-title="'Description'">{{row.description}}</td>
                            <td data-title="'Url'">{{row.catalogGet}}</td>
                            <td data-title="'Rating'" class="text-center text-nowrap"><div ng-click="vm.showModalVote(row)" star-rating rating-value="row.stars" max="5"/></td>
                            <td class="text-center"><div ng-click="vm.showModalDetail(row)"><i class="fa fa-search"></i></div></td>
                            <td ng-if="vm.userLogged" class="text-center"><div ng-click="vm.deleteCatalog(row)"><i class="fa fa-trash"></i></div></td>
                        </tr>
                    </table>
                </div>
            </div>

		</div>
	</div>
</div>