<div class="container">
<h1 class="page-header clearfix">XSD catalog name: {{vm.catalog.name}} <br/><br/>{{vm.catalog.catalogGet}}<br/>
    <div ng-click="vm.showModalVote(vm.catalog)" class="star-rating pull-right" star-rating rating-value="vm.catalog.stars" max="5"></div>
</h1>
    <div class="row">
        <div class="col-md-3">
            <p>
            <h4>Description : </h4>{{vm.catalog.description}}
            </p>
            <br/>
            <p>
            <h4>Publisher : </h4>{{vm.catalog.nickNamePublisher}}
            </p>
            <br/>
            <p>
            <h4>Referencies : </h4>
            <table>
                <tr ng-repeat="rowC in vm.catalog.catalogEntries track by rowC.id">
                    <td><a ng-click="cancel()" ui-sref="viewCatalog({id:rowC.id})">{{rowC.name}}</a></td>
                </tr>
            </table>
            
            </p>
        </div>
        <div class="col-md-9">
            <button class="btn btn-primary" ui-zeroclip zeroclip-copied="copied=true" zeroclip-model="vm.catalog.text">Copy</button>
            <span ng-show="copied">Text Copied!</span>
            <code-mirror lang="xml" model="vm.catalog.text">
            </code-mirror>
        </div>
    </div>
</div>