<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl as vm">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="vm.isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><img height="30px;" src="assets/images/logo_revert.png" alt="www.metaqrcode.com"></a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in vm.menu" ng-class="{active: isActive(item.link)}">
             <a ng-href="{{item.link}}"><i ng-if="item.icon!=''" class="fa fa-{{item.icon}}"></i> {{item.title}}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li>
              <a ng-if="!vm.user" ng-href="/login"><i class="fa fa-sign-in"></i> Login</a>
          </li>
          <li class="dropdown" ng-if="vm.user">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{vm.user.username}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a ng-click="vm.logout()"><i class="fa fa-sign-out"></i> Log Out</a></li>
              </ul>
          </li>
        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-language"></i> {{vm.selectedLanguage}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="#" ng-click="vm.setLanguage('it')">Italiano</a></li>
              <li><a href="#" ng-click="vm.setLanguage('en')">English</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
