<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl as vm">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/" class="navbar-brand" alt="metaqrcode"><img height="30px;" src="assets/images/logo_revert.png" alt="metaqrcode"></a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in vm.menu" ng-class="{active: isActive(item.link)}">
             <a ng-href="{{item.link}}"><i ng-if="item.icon!=''" class="fa fa-{{item.icon}}"></i> {{item.title}}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" ng-if="vm.getUser()">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="return false;">
                  {{vm.getUser().email}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
               	<li><a href="#/profile"><i class="fa fa-user"></i> Profile</a></li>
				<li oauth2 ng-if="vm.isLoginBearer()"
                     authorization-url="http://localhost:8080/oidc/authorize"
                     client-id="b79eaae3-062d-4466-a10f-ffdb935bf7a1"
                     redirect-url="http://localhost:9000/#/"
                     response-type="token"
                     sign-out-url="http://localhost:8080/oidc/logout"
                     sign-out-redirect-url="http://localhost:9000/#/"
                     sign-out-append-token="true"
                     scope="openid profile phone address email"
                     >
				</li>
				<li google-sign-out-button ng-if="vm.isLoginGoogle()"
                	g-client-id="593775260311-5escj92rgjm3spv5rnpl9bglimgf1fm2.apps.googleusercontent.com"
                	client-id="b79eaae3-062d-4466-a10f-ffdb935bf7a1"
                	></li>
			</ul>
          </li>
          <li ng-if="!vm.getUser()">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="return false;"> Sign In<span class="caret"></span></a>
              <ul class="dropdown-menu">
				<li oauth2
                     authorization-url="http://localhost:8080/oidc/authorize"
                     client-id="b79eaae3-062d-4466-a10f-ffdb935bf7a1"
                     redirect-url="http://localhost:9000/#/"
                     response-type="token"
                     sign-out-url="http://localhost:8080/oidc/logout"
                     sign-out-redirect-url="http://localhost:9000/#/"
                     sign-out-append-token="true"
                     scope="openid profile phone address email"
                     >
				</li>
                <li>
                	<a href="#/googleLogin"><i class="fa fa-google"></i> Google sign in</a>
                </li>
              </ul>
          </li>
          <li ng-if="!vm.getUser()">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="return false;"> Sign Up Here<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#/register"><i class="fa fa-user-plus"></i> Sign Up</a></li>
                  <li><a href="#/confirmRegistration"><i class="fa fa-check"></i> Confirm registration</a></li>
              </ul>
          </li>
      </ul>
    </div>
  </div>
</div>
