<div class="container" style="margin-top:40px">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <strong>Create a new account</strong>
                    <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
                </div>
                <div class="panel-body">
                    <form role="form" ng-submit="vm.register()" name="form" novalidate>
                        <fieldset>
                            <div class="row">
                                <div class="center-block">
                                    <img class="profile-img"
                                         src="assets/images/logo.png" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                    <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required && form.email.$error.email}">
                                        <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-envelope"></i>
												</span>
                                            <input class="form-control" placeholder="email(required)" name="email" ng-model="vm.user.email" type="email" required>
                                        </div>
                                        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">email is required</span>
                                        <span ng-show="form.email.$error.email" class="help-block">Invalid email address.</span>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': form.nickName.$dirty && form.nickName.$error.required }">
                                        <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-user"></i>
												</span>
                                            <input class="form-control" placeholder="Nick Name(required)" name="nickName" ng-model="vm.user.nickName" type="text" required>
                                        </div>
                                        <span ng-show="form.nickName.$dirty && form.nickName.$error.required" class="help-block">NickName is required</span>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                                        <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-user"></i>
												</span>
                                            <input class="form-control" placeholder="First Name(required)" name="firstName" ng-model="vm.user.firstName" type="text" required>
                                        </div>
                                        <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First Name is required</span>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                                        <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-user"></i>
												</span>
                                            <input class="form-control" placeholder="Last Name(required)" name="lastName" ng-model="vm.user.lastName" type="text" required>
                                        </div>
                                        <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last Name is required</span>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': form.preferredLanguage.$dirty && form.preferredLanguage.$error.required }">
                                        <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-language"></i>
												</span>
                                            <input class="form-control" placeholder="preferred Language(required)" name="preferred language" ng-model="vm.user.preferredLanguage" type="text" required>
                                        </div>
                                        <span ng-show="form.preferredLanguage.$dirty && form.preferredLanguage.$error.required" class="help-block">preferred Language is required</span>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': form.pre.$dirty && form.address.$error.required }">
                                        <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-thumb-tack"></i>
												</span>
                                            <input class="form-control" placeholder="address(required)" name="address" ng-model="vm.user.address" type="text" required>
                                        </div>
                                        <span ng-show="form.address.$dirty && form.address.$error.required" class="help-block">address is required</span>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': form.city.$dirty && form.city.$error.required }">
                                        <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-thumb-tack"></i>
												</span>
                                            <input class="form-control" placeholder="city(required)" name="city" ng-model="vm.user.city" type="text" required>
                                        </div>
                                        <span ng-show="form.city.$dirty && form.city.$error.required" class="help-block">city is required</span>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': form.zipCode.$dirty && form.zipCode.$error.required }">
                                        <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-thumb-tack"></i>
												</span>
                                            <input class="form-control" placeholder="Zip Code(required)" name="zipCode" ng-model="vm.user.zipCode" type="text" required>
                                        </div>
                                        <span ng-show="form.zipCode.$dirty && form.zipCode.$error.required" class="help-block">Zip Code is required</span>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                                        <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-lock"></i>
												</span>
                                            <input class="form-control" placeholder="Password(required)" name="password" ng-model="vm.user.password" type="password" value="" required>
                                        </div>
                                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                                    </div>
                                    <div class="form-group">
                                        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                        <input type="submit"  ng-disabled="form.$invalid" class="btn btn-lg btn-primary btn-block" value="Register">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="panel-footer ">
                    <a href="#/login" class="btn btn-link">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>

