
<header id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('assets/images/bannerAll.jpg');"></div>
            <div class="carousel-caption">
                <h2><b style="background-color:rgba(255,255,255,0.8)">WELCOME TO THE REVOLUTION</b></h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('assets/images/metadata.jpg');"></div>
            <div class="carousel-caption">
                <h2><b style="background-color:rgba(255,255,255,0.8)">PUT METADATA IN THE REAL WORLD</b></h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('assets/images/serviceandapi.jpg');"></div>
            <div class="carousel-caption">
                <h2><b style="background-color:rgba(255,255,255,0.8)">FREE FOR USE<br/> OPEN SOURCE CLIENT API</b></h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('assets/images/iotAll.jpg');"></div>
            <div class="carousel-caption">
                <h2><b style="background-color:rgba(255,255,255,0.8)">EVERYWHERE, EVERITHING, EVERYONE, EVERYTIME</b></h2>
            </div>
        </div>
    </div>
</header>
<section id="boxes">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box" ng-click="vm.navigate('/hiw')">
                    <div class="icon">
                        <div class="image"><span class="fa fa-lightbulb-o fa-2x"></span></div>
                        <div class="info">
                            <h3 class="title">How does it works?</h3>
                            <p>
                                METAQRCODE  is the new way to use qrcode.
                                Combine the power of xml metadata to the simplicity of qrcode
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box" ng-click="vm.navigate('https://github.com/JENIASoftware/metaqrcode')">
                    <div class="icon">
                        <div class="image"><span class="fa fa-book fa-2x"></span></div>
                        <div class="info">
                            <h3 class="title">Documentation</h3>
                            <p>
                                Learn more about METAQRCODE reading documentation
                                and try it out using many eamples realized in various technologies
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box" ng-click="vm.navigate('/catalogs')">
                    <div class="icon">
                        <div class="image">
                            <span class="fa fa-search fa-2x"></span>
                        </div>
                        <div class="info">
                            <h3 class="title">Query XSD catalog</h3>
                            <p>
                                Search into METAQRCODE metadata XSD catalog to create your own
                                QRCODE
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box" ng-click="vm.navigate('/coming')">
                    <div class="icon">
                        <div class="image"><span class="fa fa-mobile fa-2x"></span></div>
                        <div class="info">
                            <h3 class="title">Download mobile app</h3>
                            <p>
                                You can try METAQRCODE by using the app.
                                Available on ANDORID and IOS
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box" ng-click="vm.navigate('/register')">
                    <div class="icon">
                        <div class="image"><span class="fa fa-magic fa-2x"></span></div>
                        <div class="info">
                            <h3 class="title">Start now</h3>
                            <p>
                                Enter in the word of METAQRCODE and create your
                                own REVOLUTION
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box" ng-click="vm.scrollBottom()">
                    <div class="icon">
                        <div class="image"><span class="fa fa-phone fa-2x"></span></div>
                        <div class="info">
                            <h3 class="title">Need more?</h3>
                            <p>
                                Contact us if you need more info or if you want to explore
                                coomercial capabilities
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="logo">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="logo-section-caption">
                    IT'S FREAKING
                </h1>
                <h1 class="logo-section-caption">
                    <strong>AMAZING!</strong>
                </h1>
                <search-catalog></search-catalog>
            </div>
            <div class="col-md-6">
                <img src="assets/images/logo.png" class="img-responsive"/>
            </div>
        </div>
    </div>
</section>
