<div class="container">
    <h1 class="page-header">XML Repository</h1>
    <div class="panel panel-info">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">XML Repository</h4>
            <div class="pull-right">
                <input ng-model="vm.searchCriteria.query" ng-model-options="{ getterSetter: true }" ng-keyup="vm.search()" placeholder="search..." class="form-control">
            </div>
            <div class="pull-right" style="margin-right: 4px">
                <button  class="btn btn-default" ng-click="vm.search()" title="refresh repository list"><i class="fa fa-refresh"></i> Refresh</button>
                <button  class="btn btn-default" ng-click="vm.showModal()" title="upload new repository"><i class="fa fa-upload"></i> Upload</button>
            </div>
        </div>
        <div class="panel-body">

            <table ng-table="vm.tableParams" class="table">
                <tr ng-repeat="row in $data track by row.id">
                    <td data-title="'Qrcode'" class="text-center"><a ui-sref="viewRepository({id:row.id})"><img class="img-qrcode" ng-src="{{row.qrcodeGet}}" height="100px"/></a></td>
                    <td data-title="'Correlation Id'" class="text-center"><a ui-sref="viewRepository({id:row.id})">{{row.correlationId}}</a></td>
                    <td data-title="'Referring XSD catalogs'" >
			            <table class="tableFullWidth text-center">
			                <tr ng-repeat="rowC in row.catalogEntries track by rowC.id">
			                    <td><a ui-sref="viewCatalogFromRepository({id:rowC.id})">{{rowC.name}}</a></td>
			                </tr>
			            </table>
                    </td>
                    <td class="text-center"><div ng-click="vm.deleteRepository(row)"><i class="fa fa-trash"></i></div></td>
                </tr>
            </table>
        </div>
    </div>
</div>

