<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <p>
                        Create a new XML repository entry or update an existing one. Select a default catalog or a correlationId (busines key) and upload your <b>XML</b> file or <b>XML</b> text.
                    </p>
                </div>
                <form class="form-horizontal" role="form" name="newRepositoryForm" novalidate>
                    <div class="form-group ">
                        <label for="defaultCatalog" class="col-sm-2 control-label">Default XSD catalog URL</label>
                        <div class="col-sm-9 input-group" style="padding-left: 15px;">
                            <input type="text" class="form-control" id="defaultCatalog" name="defaultCatalog" 
                            		placeholder="default XSD catalog link (optional)" 
                            		autocomplete="off"
               						ng-model="repository.defaultCatalog" ng-model-options="{ debounce: 200 }"
               						ng-change="searchCatalog(repository.defaultCatalog)">
                            <span class="input-group-addon"><span class="fa fa-search"></span> </span>
                        </div>
                    </div>
                    <div class="form-group ">
						<div class="list-group" class="dropdown" ng-show="catalogs">
					        <a ng-click="selectCatalog(catalog.catalogGet)" class="list-group-item" ng-repeat="catalog in catalogs">
					        	<div class=row>
					        		<div class="col-sm-9">
							            <h4 class="list-group-item-heading">{{catalog.name}}</h4>
					        		</div>
					        		<div class="col-sm-3">
							            <span class="star-rating pull-right" star-rating rating-value="catalog.stars" max="5"></span>
					        		</div>
					        	</div>
					        	<div class=row>
					        		<div class="col-sm-12">
							            <p class="list-group-item-text">{{catalog.description}} </p>
							        </div>
						        </div>
					        </a>
					    </div>
                    </div>
                    <div class="form-group">
                        <label for="correlationId" class="col-sm-2 control-label">Correlation Id (business key)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="correlationId" placeholder="correlation id, your business key (optional)" ng-model="repository.correlationId">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="correlationId" class="col-sm-2 control-label">Private</label>
                        <div class="col-sm-1">
                            <input type="checkbox" class="formcheckbox form-control" id="personal" ng-model="repository.personal">
                        </div>
                        <div class="col-sm-9">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label vcenter">Which format?</label>
                    	<div class="col-sm-10 vcenter">
                    		<div class="row vcenter">
		                        <div class="col-sm-2 vcenter">
		                        	<label>file upload</label>
		                        </div>
		                        <div class="col-sm-1 vcenter">
		                            <input type="radio" class="formradio form-control" ng-model="repository.uploadFile" ng-value="true"/>
		                        </div>
		                        <div class="col-sm-2 vcenter">
		                        </div>
		                        <div class="col-sm-2 vcenter">
		                        	<label>text area</label>
		                        </div>
		                        <div class="col-sm-1 vcenter">
		                            <input type="radio" class="formradio form-control" ng-model="repository.uploadFile" ng-value="false"/>
		                        </div>
		                        <div class="col-sm-4 vcenter">
		                        </div>
                    		</div>
                    	</div>
                    </div>
                    <div class="form-group" ng-show="!repository.uploadFile">
                        <label for="xml" class="col-sm-2 control-label">XML Document</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" id="xml" name="xml" placeholder="paste here your XML" ng-model="repository.xml"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-show="repository.uploadFile">
                        <label for="fileXML" class="col-sm-2 control-label">XML Document</label>
                        <div class="col-sm-10">
                            <file-input id="fileXML" name="fileXML" file="repository.file" filter=".xml"></file-input>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="upload()" ng-disabled="newRepositoryForm.$invalid && file==null || newRepositoryForm.$invalid && newRepositoryForm.xml==null" class="btn btn-primary">OK</button>
                <button type="button" ng-click="cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>